@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: rgb(237, 253, 248);
  font-family: "Poppins", system-ui;
  margin: 0;
  color: rgb(18, 18, 43);
}

.head {
  font-size: 200%;
  padding-right: 40%;
}

.header {
  padding-top: 2%;
}

.order {
  width: 100%;
  font-size: medium;
  font-weight: bold;
  text-align: center;
  position: fixed;
  color: white;
  background-color:rgb(18, 18, 43);
  box-shadow: 10px 10px 15px rgba(139, 177, 189, 0.3);
  margin: 0%;
  padding: 0%;
}

.image {
  margin-top: 32px;
  margin-left: 45px;
  float: left;
}

.mage {
  width: 0%;
  height: 50%;
  fill: black;
  fill-opacity: 0;
  transform: translate(1, 1);
  float: inline-end;
}

.top-one {
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 12px;
  font-size: large;
  word-spacing: 10px;
  cursor: pointer;
}

.top-one,
.top-two ul {
  transition: .5s;
}

.top-one ul:hover {
  color: #319db8;
}

.top-two ul:hover {
  color: #319db8;
}


.top-two {
  display: flex;
  padding-left: 13%;
  margin-top: 11px;
  font-size: large;
  word-spacing: 10px;
  cursor: pointer;
}

.button-one {
  margin-top: 11px;
  margin-left: 6%;
}

.button-one,
.button-two {
  transition: .5s;
}

.button-one:hover {
  background-color: rgba(52, 138, 51, 0.705);
}

.button-two:hover {
  background-color: rgba(52, 138, 51, 0.705);
}

.button-one {
  width: 180px;
  font-size: medium;
  height: 40px;
  color: white;
  font-weight: bolder;
  background-color: rgb(58, 197, 58);
  border: 0;
  border-radius: 7px;
  cursor: pointer;
}

.button-two {
  width: 180px;
  font-size: medium;
  height: 40px;
  color: white;
  font-weight: bolder;
  background-color: rgb(58, 197, 58);
  border: 0;
  border-radius: 7px;
  cursor: pointer;
}

.main {
  float: inline-start;
  margin-left: 60px;
  font-size: x-large;
}

.notice {
  font-size: medium;
  margin-left: 750px;
  margin-top: 0%;
}

.info {
  margin-top: 170px;
  font-weight: bolder;
}

.imagess {
  margin-inline-start: 0%;
  word-spacing: 15px;
  display: inline;
}

.text-one {
  padding-left: 4.5%;
  padding-top: 70%;
  font-size: 130%;
}

.container-two,
.container-four,
.container-three {
  background-color: white;
}

.container-two {
  display: flex;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 360px;
  float: inline-start;
}

.image-two {
  padding-left: 4.5%;
  padding-top: 20%;
}

h1 {
  padding-top: 13%;
  font-size: 220%;
  gap: 50%;
}

.container-four {
  display: reverse;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 180px;
  float: inline-start;
  padding-left: 3%;
}

.image-four {
  padding-top: 16%;
  max-width: 700px;
  max-height: 600px;
  float: right;
  margin-left: 5%;
}

.text-under {
  padding-top: 13%;
  font-size: 230%;
  gap: 50%;
}

.under {
  font-size: large;
}

.text-four {
  font-size: 100%;
  padding-left: 4.5%;
}

ol {
  list-style: none;
  padding-left: 1%;
}

.text-two {
  font-size: medium;
  padding-right: 7%;
}

.wr-one {
  font-size: large;
}

.bust {
  margin-left: 60%;
  float: inline-start;
  padding-top: 0%;
  width: 40%;
}

.container-three {
  display: flex;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 180px;
  float: inline-start;
  padding-bottom: 10%;
}

span {
  color: rgb(58, 197, 58);
  font-weight: bold;
  cursor: pointer;
}

span {
  transition: .5s;
}

span:hover {
  color: darkgreen;
}

video {
  padding-top: 20%;
  max-width: 700px;
  max-height: 600px;
  padding-left: 10%;
}

h1 {
  padding-top: 13%;
  font-size: 220%;
  gap: 50%;
}

.text-three {
  font-size: medium;
  padding-right: 7%;
}

.text-five {
  margin-left: 3%;
  font-size: 140%;
  padding-bottom: 6%;
}

.under-five {
  font-size: large;
}

.container-five {
  column-count: 3;
  column-gap: 3em;
  border: double 0;
  border-radius: 5px;
  margin-right: 3%;
  margin-left: 4%;
  margin-bottom: 17%;
  padding-top: 3%;
  padding-left: 8%;
  padding-right: 7%;
  font-size: medium;
  height: 350px;
  background-color: white;
}

.container-six {
  background-color: white;
  margin-bottom: 20%;
  padding-top: 5%;
}

.under-six {
  margin-inline-start: 5%;
  font-size: 300%;
  padding-right: 30%;
}

.six-one {
  font-size: medium;
  margin-inline-start: 5%;
  padding-right: 55%;
}

.ages-one {
  word-spacing: 6em;
  margin-left: 5%;
  margin-bottom: 7%;
  margin-top: 8%;
}

.ages-two {
  word-spacing: 7em;
  margin-left: 5%;
  margin-bottom: 7%;
}

.ages-three {
  word-spacing: 5em;
  margin-left: 6%;
  padding-bottom: 13%;
}

.con-text-one {
  font-size: 300%;
  padding-right: 50%;
  margin-inline-start: 5%;
  padding-top: 12%;
}

.con-text-two {
  padding-right: 55%;
  font-size: large;
  margin-inline-start: 5%;
  margin-bottom: 6%;
}

.con-ano {
  column-count: 3;
  column-gap: 2em;
  border: double 0;
  border-radius: 5px;
  margin-right: 3%;
  margin-left: 4%;
  padding-top: 5%;
  padding-left: 4%;
  padding-right: 6%;
  font-size: medium;
  height: 350px;
  background-color: white;
}

footer {
  background-color: white;
  padding-left: 5%;
}

.col-one {
  font-weight: light;
  padding-top: 5%;
  padding-left: 2%;
  column-count: 4;
  font-size: large;
  padding-bottom: 7%;
}

.col-two {
  font-weight: light;
  padding-bottom: 10%;
  font-size: large;
  padding-left: 2%;
  column-count: 4;
}

.con-text {
  background-color: rgba(245, 245, 245, 0.651);
}

.texttt {
  padding-top: 10%;
  font-size: larger;
}

.button-one {
  float: inline-end;
}

h4 {
  font-size: 300%;
  padding-right: 40%;
}

.Copyright {
  text-align: center;
  padding-right: 7%;
  font-weight: bold;
  color: white;
  background-color: rgb(18, 18, 43);
}

@media only screen and (min-width=1080px) {
  body {
    width: 1080px;
    margin: 0 auto;
    padding: 0 auto;
  }
}
